<%- include('layouts/header.ejs') %>
    <h1>

    </h1>

    <h2 class="mb-4">
        Group Chatting
    </h2>

    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <% if (myGroups.length>0) {
                    for (let i = 0; i < myGroups.length; i++) { %>
                        <li class="list-group-item list-group-item-dark cursor-pointer group-list"
                            data-id="<%= myGroups[i]['_id'] %>">
                            <img src="/image/<%=myGroups[i]['image']%>" alt="" width="90px" height="90px">
                            <%= myGroups[i]['name']%>
                        </li>
                        <% } } %>
                            <!-- Show Joined Group-->
                            <h5>Joined Group</h5>
                            <% if (joinedGroups.length>0) {
                                for (let i = 0; i < joinedGroups.length; i++) { %>
                                    <li class="list-group-item list-group-item-dark cursor-pointer group-list"
                                        data-id="<%= joinedGroups[i]['group_id']['_id'] %>">
                                        <img src="/image/<%=joinedGroups[i]['group_id']['image']%>" alt="" width="90px"
                                            height="90px">
                                        <%= joinedGroups[i]['group_id']['name']%>
                                    </li>
                                    <% } } %>
            </ul>
        </div>
        <div class="col-md-8">
            <h3 class="group-start-head">
                click to start the chat
            </h3>
            <div class="group-chat-section">
                <div id="group-chat-container">
                </div>
                <form action="" id="group-chat-form">
                    <input type="text" name="message" class="border" placeholder="Enter message" id="group-message"
                        required>
                    <input type="submit" value="Send" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>


    <!-- Delete Group Chat Model-->

    <div class="modal fade" id="deleteGroupChatModel" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete Chat </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="delete-group-chat-form">

                    <div class="modal-body">
                        <input type="hidden" name="id" id="delete-group-message-id">
                        <p>Are you sure! you want to delete your message? </p>
                        <p><b id="delete-group-message"></b></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>

                </form>


            </div>
        </div>
    </div>

    <!-- Update Group Chat  Modal -->
    <div class="modal fade" id="editGroupChatModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit Chat </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="update-group-chat-form">

                    <div class="modal-body">
                        <input type="hidden" name="id" id="edit-group-message-id">
                        <input type="text" name="message" class="w-100" id="update-group-message" required placeholder="Update message">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>

                </form>


            </div>
        </div>
    </div>



    <%- include('layouts/footer.ejs') %>